<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Customer Registration Form</title>
    <style>
        .error {
            font-style: italic;
            color: red;
            font-size: 18px;
        }
    </style>
</head>
<body>
<i>Fill out the form. Asterisk (*) means required</i>
<br><br>
<form th:action="@{/customer/customerProcessForm}" th:object="${customer}" method="post">
    First name: <input type="text" th:field="${customer.firstName}"/>
    <br>
    Last name (*): <input type="text" th:field="${customer.lastName}"/>
    <!--Add error message (if present)-->
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"
          class="error"></span>
    <br>
    Free passes (*): <input type="text" th:field="${customer.freePasses}" />
    <span th:if="${#fields.hasErrors('freePasses')}"
          th:errors="*{freePasses}"
          class="error" />
    <br>
    Postal code (*): <input type="text" th:field="${customer.postalCode}" />
    <span th:if="${#fields.hasErrors('postalCode')}"
          th:errors="*{postalCode}"
          class="error" />

    <br>
    Course code (*): <input type="text" th:field="${customer.courseCode}" />
    <span th:if="${#fields.hasErrors('courseCode')}"
          th:errors="*{courseCode}"
          class="error" />
<br><br>
    <input type="submit" value="Submit"/>
</form>

</body>
</html>