<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <!--@- access to root folder-->
    <link rel="stylesheet" th:href="@{/css/demo.css}" />
</head>
<body>
<div th:text="'Hello my dear friend: ' + ${theName}" class="funny">
</div>
<div>
    <br>
    Student name: <span th:text="${param.studentName}"/>
    <p th:text="'Time on the server is ' + ${theDate}" >No time information on the server</p>
</div>

</body>
</html>